@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="h3-font">TimerLog</h3>
    
    <p class="timer-log" id="timeDisplay">00:00.00</p>
    <button type="button" class="btn btn-light" id="startButton">スタート</button>
    <button type="button" class="btn btn-light" id="stopButton">ストップ</button>
    <button type="button" class="btn btn-light" id="resetButton">リセット</button>

    <br />
    <br />
    <div class="align-content-center"></div>

    <br />
    <select class="form-select w-25" id="timerTypeSelect"></select> 
    
    <br />
    <button type="button" class="btn btn-light" id="saveButton">保存</button>
</div>
